.burger-menu {
  width: 100%;
  position: relative;
}

.burger-menu__container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: calc(100% - 248px);
  background: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.burger-menu__links {
  margin: 159px auto 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.button-close {
  background-image: url('../../../images/close-icon.svg');
  width: 22px;
  height: 22px;
  background-color: transparent;
  object-fit: contain;
  border: none;
  background-size: 22px 22px;
  position: absolute;
  top: 22.44px;
  right: 22.44px;
}

.burger-menu__acc {
  display: flex;
  gap: 7px;
  text-decoration: none;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  background: #202020;
  padding: 3px 3px 3px 11px;
  margin-bottom: 90px;
}

.burger-menu__acc-text {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 12px;
}

.burger-menu__acc-img {
  padding: 7px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #313131;
}

@media (max-width: 540px) {
  .burger-menu__container {
    width: 100%;
  }

  .burger-menu__links {
    margin: 144px auto 0;
    gap: 24px;
  }

  .button-close {
    top: 13.44px;
    right: 13.44px;
  }

  .burger-menu__acc {
    margin-bottom: 46px;
  }
}
