.about-project {
  max-width: 1140px;
  padding: 110px 50px;
  margin: 0 auto;
}

.about-project__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin-top: 70px;
  margin-bottom: 110px;
}

.about-project__list-item {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
}

.about-project__list-item-title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
}

.about-project__list-item-text {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.about-project__schedule {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-project__schedule-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.about-project__schedule-item-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 9px 0;
}

.about-project__schedule-item-title_short {
  background: #3ddc84;
  color: #000;
}

.about-project__schedule-item-title_long {
  background: #303030;
  color: #fff;
}

.about-project__schedule-item-subtitle {
  margin: 0;
  padding: 0;
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

@media (max-width: 768px) {
  .about-project {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .about-project__list {
    gap: 30px;
    margin-bottom: 93px;
  }

  .about-project__list-item {
    gap: 22px;
  }

  .about-project__list-item-text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 540px) {
  .about-project {
    padding: 70px 18px 69px;
  }

  .about-project__list {
    gap: 56px;
    margin-top: 60px;
    margin-bottom: 60px;
    flex-direction: column;
  }

  .about-project__list-item {
    gap: 16px;
  }

  .about-project__list-item-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    line-height: 22px;
  }

  .about-project__list-item-text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__schedule-item {
    gap: 10px;
  }

  .about-project__schedule-item-title {
    font-size: 11px;
    padding: 11px 0;
  }

  .about-project__schedule-item-subtitle {
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
  }
}

@media (max-width: 320px) {
  .about-project__schedule {
    grid-template-columns: 100px 184px;
  }
}
