.about-me {
  max-width: 1140px;
  margin: 0 auto;
  padding: 110px 50px 100px;
}

.about-me__info {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
  gap: 49px;
}

.about-me__info-text {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: space-between;
}

.about-me__info-text-name {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin-bottom: 18px;
}

.about-me__info-text-job {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 26px;
}

.about-me__info-text-content {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.about-me__info-text-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.about-me__info-text-link:hover {
  opacity: 0.8;
}

.about-me__info-img {
  display: block;
  border-radius: 10px;
  background: lightgray;
  width: 270px;
  height: 327px;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .about-me {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .about-me__info-img {
    width: 255px;
    height: 307px;
  }

  .about-me__info-text-name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
    margin-bottom: 16px;
  }

  .about-me__info-text-job {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .about-me__info-text-content {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 540px) {
  .about-me {
    padding: 70px 14px;
  }

  .about-me__info {
    flex-direction: column;
    margin-top: 60px;
    gap: 40px;
    align-items: center;
  }

  .about-me__info-text {
    order: 2;
  }

  .about-me__info-img {
    width: 292px;
    height: 352px;
    order: 1;
  }

  .about-me__info-text-name {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .about-me__info-text-job {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__info-text-content {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 40px;
  }
}
